@model Client

@{
	ViewData["Title"] = "Dodavanje novog klijenta";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Popis klijenata</a></li>
        <li class="breadcrumb-item active" aria-current="page">Novi klijent</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="client-form">
            <div style="margin-top: 20px; margin-bottom: 10px;">
                <partial name="_CreateOrEdit" model="new Client()" />
            </div>
        </form>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
       $(function () {
            $('#email').focus(function () {
                $('#email-hint').show();
            });

            $('#email').blur(function () {
                $('#email-hint').hide();
            });

            var formChanged = false;

            $('#client-form input').change(function () {
                $('#address-input').on('input', function () {
                    $('#address').val($(this).val());
                });
                formChanged = true;
            });

            $('#client-form').submit(function () {
                $('#address-input').on('input', function () {
                    $('#address').val($(this).val());
                });
                formChanged = false;
            });

            $(window).on('beforeunload', function () {
                if (formChanged) {
                    return "There are unsaved changes, are you sure you want to leave the site?";
                }
            });

        });
    </script>
}