@model List<Client>

@{
	ViewData["Title"] = "Home Page";
}

<h1>Popis klijenata</h1>
<div style="margin-top: 20px; margin-bottom: 10px;">
	<partial name="_ClientFilter" model="new ClientFilterModel()" />
    <div id="clientTableContainer">
        <partial name="_IndexTable" />
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#searchBtn').click(function () {
                var formData = $('#clientFilterForm').serialize();
                $.ajax({
                    url: '@Url.Action("IndexAjax", "Client")',
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        $('#clientTableContainer').html(data);
                    }
                });
            });
        });
    </script>
}